{% extends 'baseBack.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Liste des admins</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">  
        <thead>
            <tr>
                <th>Id admin</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro de télephone</th>
                <th>Login</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.nom }}</td>
                <td>{{ admin.prenom }}</td>
                <td>{{ admin.numtel }}</td>
                <td>{{ admin.login }}</td>
                <td>{{ admin.password }}</td>
               
                <td>
                    <a href="{{ path('admin_show', {'id': admin.id}) }}">show</a>
                    <a href="{{ path('admin_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
                        </div>
                    </div>
                        <a href="{{ path('admin_new') }}" style="float: right;">Créer un admin</a>                </div>
            </div>
        </div>

    </div>

{% endblock %}

