{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
    <h1>Admin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_admin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numtel</th>
                <th>Login</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.idAdmin }}</td>
                <td>{{ admin.nom }}</td>
                <td>{{ admin.prenom }}</td>
                <td>{{ admin.numtel }}</td>
                <td>{{ admin.login }}</td>
                <td>{{ admin.password }}</td>
                <td>
                    <a href="{{ path('admin_show', {'id_admin': admin.id_admin}) }}">show</a>
                    <a href="{{ path('admin_edit', {'id_admin': admin.id_admin}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_new') }}">Create new</a>
{% endblock %}
