{% extends'baseBack.html.twig' %}
{% block body %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des fourrières</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom fourrière</th>
                <th>Nombre de places</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fourriere in fourrieres %}
            <tr>
                <td>{{ fourriere.id }}</td>
                <td>{{ fourriere.nomf }}</td>
                <td>{{ fourriere.nbplace }}</td>
                <td>{{ fourriere.flatitude }}</td>
                <td>{{ fourriere.flongitude }}</td>
                <td>
                    <a href="{{ path('app_fourriere_show', {'id': fourriere.id}) }}">show</a>
                    <a href="{{ path('app_fourriere_edit', {'id': fourriere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_fourriere_new') }}"style="float: right;">Créer un fourrière</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}



