{% extends 'base.html.twig' %}

{% block title %}Amande index{% endblock %}

{% block body %}
    <h1>Amande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_amande</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amande in amandes %}
            <tr>
                <td>{{ amande.idAmande }}</td>
                <td>{{ amande.total }}</td>
                <td>
                    <a href="{{ path('amande_show', {'id_amande': amande.id_amande}) }}">show</a>
                    <a href="{{ path('amande_edit', {'id_amande': amande.id_amande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('amande_new') }}">Create new</a>
{% endblock %}
