{% extends 'base.html.twig' %}

{% block title %}Amande{% endblock %}

{% block body %}
    <h1>Amande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_amande</th>
                <td>{{ amande.idAmande }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ amande.total }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('amande_index') }}">back to list</a>

    <a href="{{ path('amande_edit', {'id_amande': amande.id_amande}) }}">edit</a>

    {{ include('amande/_delete_form.html.twig') }}
{% endblock %}
