{{ form_start(form) }}
    {{ form_widget(form) }}

            {{ form_widget(form.nom, {'attr': {'placeholder': 'Entrer le nombre de places de client'}}) }}

            {{ form_widget(form.prenom, {'attr': {'placeholder': 'Entrer le prénom de client'}}) }}

           {{ form_widget(form.numtel, {'attr': {'placeholder': 'Enter le numéro de télephone'}}) }}

            {{ form_widget(form.voitmat, {'attr': {'placeholder': 'Entrer l"immatricule'}}) }}

            {{ form_widget(form.instamon, {'attr': {'placeholder': 'Entrer le code instamonaie'}}) }}

            {{ form_widget(form.login, {'attr': {'placeholder': 'Entrer le login'}}) }}

            {{ form_widget(form.password, {'attr': {'placeholder': 'Entrer le mot de passe'}}) }}

            {{ form_widget(form.status, {'attr': {'placeholder': 'Entrer le statut de voiture'}}) }}

<br>
<div class="text-center">
    <button class="btn">{{ button_label|default('Save') }}</button>

</div>


{{ form_end(form) }}
