{{ form_start(form) }}
    {{ form_widget(form) }}

 {{ form_widget(form.total, {'attr': {'placeholder': 'Entrer le total'}}) }}


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
