{% extends'baseBack.html.twig' %}
{% block body %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des réclamations</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Description</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                        </div>
                    </div>

                </div>
                <a href="{{ path('app_reclamation_new') }}" style="float: right;">Créer une réclamation</a>
            </div>
        </div>

    </div>

    {% endblock %}
